.categories-container{
    background-color: aliceblue;
}

.categories-container .category-container{
    background-color: blue;
}

.categories-container .category-container .category-body-container{
    background-color: red;
}